html {
	scroll-behavior: smooth; /*Denne funktion gør scroll ved klik på knapper mere "flydende"*/
}
body {
    font-family: sans-serif;
    background-color: #999999;
    margin: 1em;
}
	ul {
 	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
  	float: left;
  	max-width: 100%;
}

	li {
  	float: left;
}

	li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 8px 16px;
  	text-decoration: none;
}

	.active {
  	background-color: #4CAF50;
}
	#portogrid div {
    font-size: 1em;
    color: darkblue; /* Den mørkeblå farve er let læselig på den røde eller hvide baggrund */
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-radius: 5px 5px;
}
	#portogrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 4px;
	grid-template-areas: 
		"nav-bar nav-bar nav-bar nav-bar nav-bar"
		"header header header header header"
		"omrA omrA omrA omrA omrA"
		"omrB omrB omrB omrB omrB"
		"omrC omrC omrC omrC omrC"
		"omrD omrD omrD omrD omrD"
		"omrE omrE omrE omrE omrE"
		"omrF omrF omrF omrF omrF"
		"omrF omrF omrF omrF omrF";
}
	#portogrid div:nth-child(1){
	grid-area: nav-bar;
}
	#nav-felt {
		position: fixed top;
		border-radius: 5px 5px;
}
	#header {
	grid-area: header;
	background-color: white;
}	
	#omr-1 {
	grid-area: omrA; /* Da grid-delene genbruges på alle HTML-sider, har jeg givet dem navne der kan genanvendes, her som forkortelsen omr (for "område"). */
	background-color: red;
}
	#omr-2 {
	grid-area: omrB;
	background-color: white;
}
	#omr-3 {
	grid-area: omrC;
	background-color: red;
}
	#omr-4 {
	grid-area: omrD;
	background-color: white;
}
	#omr-5 {
	grid-area: omrE;
	background-color: red;
}
	#omr-6 {
	grid-area: omrF;
	background-color: white;
}
h1 {
	font-family: "ParalucentStencil ExtraLight";  /* Jeg har valgt at anvende ParalucentStencil til overskrifter, da den er rimelig let-læselig, men samtidig lidt anderledes end "normale" fonte. */
	padding-left: 75px; /* Bredde på tekst er vigtig, da en tekst der fylder hele skærmens bredde kan virke afskræmmende for en læser/bruger af et site. */
	padding-right: 75px;
}
h2 {
	font-family: "ParalucentStencil ExtraLight";
}
h3 {
	font-family: "ParalucentStencil ExtraLight";
}
h4 {
	font-family: "ParalucentStencil ExtraLight";
}
h5 {
	font-family: "ParalucentStencil ExtraLight";
}
h6 {
	font-family: "ParalucentStencil ExtraLight";
}
p {
	font-family: "Agency FB" /* Agency FB er måske ikke en typisk skrift til brødtekster, men */;
	font-size: 1em;
}
hr { /* hr-tagget bruges til at adskille content.*/
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
#groen {
	color: darkgreen;
}
.tiltopknap {
	border-radius: 50%; /* Gør knappen rund (eller oval, afhængig af indhold). */
	background-color: darkgreen; /*Bestemmer knappens farve*/
	border: none;
  	color: white; /* Bestemmer tekstens farve på knappen, da knappen er i en mørkere farve, er en hvid skrift-farve forholdsvis let at læse. */
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	position: sticky;
  	left: 44.5%; /* placerer knappen i midten af skærmen på desktop. */
  	bottom: 5%;
  	box-shadow: 5px 5px 5px black;
  	opacity: 0.7; /* Gennesigtighed på knappen. Dette gøres for at knappen kan ses, men indhold bagved kan også stadigvæk ses. */
}
footer {
	background-color: #333;
	text-align: center;
	font-size: 1.2em;
}